## üéì Persona : L√©a, jeune investisseuse √©tudiante

**Profil :**
- üë© 24 ans, dipl√¥m√©e de l'EM Lyon
- üíº Premi√®re exp√©rience professionnelle apr√®s 2 ans d'alternance
- üí∞ Aide parentale pour le financement + √©pargne personnelle (~15 000 ‚Ç¨)
- üéØ Objectif : r√©aliser un **premier investissement locatif** dans une **ville √©tudiante dynamique**

---

### üí° Objectif d'investissement
> Trouver le **meilleur investissement locatif √©tudiant** possible avec un **budget global de 200 000 ‚Ç¨**,  
> en ciblant un **studio √† Lille**, tout en comparant bri√®vement avec un **T1 √† Angers ou Nancy**.

---

### üí∞ Hypoth√®ses financi√®res
| √âl√©ment | Montant estim√© |
|----------|----------------|
| Prix d'achat vis√© | 160 000 ‚Äì 180 000 ‚Ç¨ |
| Apport personnel | 15 000 ‚Ç¨ |
| Pr√™t immobilier estim√© | 180 000 ‚Ç¨ sur 20 ans |
| Budget total (frais inclus) | **‚âà 200 000 ‚Ç¨** |
| Objectif de rentabilit√© brute | **‚â• 5 %** |

---

### üèôÔ∏è Cibles principales
| Ville | Type de bien | Prix moyen au m¬≤ | Loyer moyen mensuel | Observations |
|-------|---------------|------------------|---------------------|---------------|
| **Lille** | Studio (20‚Äì25 m¬≤) | ~4 500 ‚Ç¨/m¬≤ | 550‚Äì600 ‚Ç¨ | March√© √©tudiant tendu, forte demande locative |
| **Angers** | T1 (25‚Äì30 m¬≤) | ~3 200 ‚Ç¨/m¬≤ | 450‚Äì500 ‚Ç¨ | Ville tr√®s dynamique, bonne rentabilit√© brute |
| **Nancy** | T1 (25‚Äì30 m¬≤) | ~2 800 ‚Ç¨/m¬≤ | 420‚Äì470 ‚Ç¨ | March√© abordable, bon rapport prix/rentabilit√© |

---

### üîç Besoins data de L√©a
- Identifier **les quartiers les plus rentables** √† Lille (ou dans des villes comparables)
- Comparer avec **la rentabilit√© moyenne en France**
- Analyser l'**√©volution du prix au m¬≤ et des loyers √©tudiants** depuis 5 ans
- Calculer la **rentabilit√© locative brute et nette** par quartier
- Visualiser les **zones √† forte concentration √©tudiante**
- Fournir une **recommandation finale : "o√π investir avec 200k‚Ç¨ ?"**
- √âvaluer le **taux de vacance locative** par quartier pour anticiper les p√©riodes creuses (notamment l'√©t√© o√π les √©tudiants quittent les logements)
- Analyser la **proximit√© des transports en commun** et des universit√©s/grandes √©coles pour identifier les zones les plus attractives pour les √©tudiants
- Estimer les **charges de copropri√©t√© moyennes** par type de bien et par quartier pour affiner le calcul de rentabilit√© nette
- Identifier les **opportunit√©s de biens n√©cessitant des travaux** (d√©cote √† l'achat) pour maximiser la plus-value √† long terme

---

### üß≠ Objectif du notebook
Cr√©er un outil interactif permettant √† L√©a de :
1. Comparer la rentabilit√© d'un **studio √† Lille** avec celle d'un **T1 √† Angers ou Nancy**  
2. Explorer visuellement les **zones √† potentiel locatif √©lev√©**  
3. Obtenir une **recommandation automatique** en fonction de son budget et de ses pr√©f√©rences

## Import des biblioth√®ques ##

In [3]:
import pandas as pd 
import openpyxl

### 1e vision : Analyse g√©n√©rale en France ###

Etude de la rentabilit√© moyenne en France

In [ ]:
print("Partie Valentine")

Evolution du prix au m¬≤ et des loyers √©tudiants depuis 5 ans en France

In [ ]:
print("Partie Axel")

Visualiser les zones √† forte concentration √©tudiante en France

In [60]:
df_populations_communales = pd.read_excel("POPULATION_MUNICIPALE_COMMUNES_FRANCE.xlsx")

df_populations_communales.head()

,objectid,reg,dep,cv,codgeo,libgeo,p13_pop,p14_pop,p15_pop,p16_pop,p17_pop,p18_pop,p19_pop,p20_pop,p21_pop
0,115658,52,85,8502,85062,Ch√¢teauneuf,968.0,993.0,1013.0,1027.0,1056,1085.0,1114.0,1118.0,1134.0
1,115659,26,58,5808,58300,Urzy,1839.0,1835.0,1828.0,1802.0,1775,1749.0,1746.0,1747.0,1742.0
2,115660,43,70,7012,70137,Chassey-l√®s-Montbozon,218.0,217.0,216.0,215.0,217,215.0,215.0,220.0,225.0
3,115661,21,51,5123,51649,Vitry-le-Fran√ßois,13174.0,13144.0,12805.0,12552.0,12133,11743.0,11376.0,11458.0,11454.0
4,115662,11,78,7811,78638,Vaux-sur-Seine,4749.0,4715.0,4788.0,4857.0,4927,4929.0,5010.0,5020.0,5083.0

In [61]:
df_populations_communales.drop(['p13_pop', 'p14_pop', 'p15_pop', 'p16_pop', 'p17_pop', 'p18_pop', 'p19_pop', 'p20_pop'], axis=1, inplace=True)

# Garde les lignes o√π la colonne 'dep' contient le mot "Arrondissement"
df_filtered = df_populations_communales[df_populations_communales['libgeo'].str.contains("Arrondissement")]

df_filtered

       objectid  reg dep    cv codgeo                         libgeo   p21_pop
228      126623   82  69  6900  69384        Lyon 4e  Arrondissement   35603.0
229      126624   93  13  1398  13206   Marseille 6e  Arrondissement   39647.0
495      129227   11  75    75  75111      Paris 11e  Arrondissement  142583.0
584      129316   11  75    75  75103       Paris 3e  Arrondissement   32793.0
1665     129569   11  75    75  75112      Paris 12e  Arrondissement  140954.0
1932     130947   11  75    75  75119      Paris 19e  Arrondissement  181616.0
2186     127217   93  13  1323  13207   Marseille 7e  Arrondissement   34633.0
3671     130066   93  13  1398  13209   Marseille 9e  Arrondissement   77106.0
3767     131011   93  13  1398  13211  Marseille 11e  Arrondissement   57924.0
4500     130148   11  75    75  75104       Paris 4e  Arrondissement   28324.0
6563     118368   11  75    75  75108       Paris 8e  Arrondissement   35123.0
6837     119751   11  75    75  75118      Paris 18e  Arrondissement  188446.0
7909     120080   93  13  1398  13210  Marseille 10e  Arrondissement   59002.0
8863     120332   82  69  6900  69389        Lyon 9e  Arrondissement   52903.0
9588     120544   11  75    75  75109       Paris 9e  Arrondissement   58951.0
11979    144614   11  75    75  75120      Paris 20e  Arrondissement  189805.0
13171    144008   82  69  6900  69385        Lyon 5e  Arrondissement   48711.0
14399    139000   93  13  1398  13208   Marseille 8e  Arrondissement   82609.0
17341    138359   93  13  1398  13214  Marseille 14e  Arrondissement   59948.0
17380    138398   93  13  1314  13216  Marseille 16e  Arrondissement   15487.0
18032    138538   11  75    75  75101       Paris 1er Arrondissement   15919.0
18245    142509   93  13  1398  13215  Marseille 15e  Arrondissement   79656.0
19083    132252   82  69  6900  69382        Lyon 2e  Arrondissement   30485.0
20711    137291   11  75    75  75113      Paris 13e  Arrondissement  178350.0
21534    134025   11  75    75  75116      Paris 16e  Arrondissement  162061.0
21907    134142   93  13  1398  13203   Marseille 3e  Arrondissement   53115.0
21914    134149   93  13  1398  13205   Marseille 5e  Arrondissement   45449.0
22012    136800   82  69  6900  69387        Lyon 7e  Arrondissement   85897.0
22689    136540   11  75    75  75114      Paris 14e  Arrondissement  136368.0
23119    133224   82  69  6900  69388        Lyon 8e  Arrondissement   86326.0
23510    133355   82  69  6900  69386        Lyon 6e  Arrondissement   52007.0
25034    121222   11  75    75  75102       Paris 2e  Arrondissement   21119.0
25503    123944   93  13  1398  13204   Marseille 4e  Arrondissement   50068.0
25679    121360   82  69  6900  69383        Lyon 3e  Arrondissement  101302.0
28244    124607   93  13  1313  13202   Marseille 2e  Arrondissement   23627.0
28846    123500   93  13  1312  13201   Marseille 1er Arrondissement   39436.0
29054    126182   11  75    75  75117      Paris 17e  Arrondissement  164413.0
29251    124846   11  75    75  75110      Paris 10e  Arrondissement   83543.0
31218    111974   82  69  6900  69381        Lyon 1er Arrondissement   29016.0
31513    110899   93  13  1398  13212  Marseille 12e  Arrondissement   63108.0
32679    112374   11  75    75  75105       Paris 5e  Arrondissement   56841.0
32866    111198   11  75    75  75107       Paris 7e  Arrondissement   47947.0
32945    111277   11  75    75  75106       Paris 6e  Arrondissement   40209.0
33147    115582   11  75    75  75115      Paris 15e  Arrondissement  227746.0
33259    111338   93  13  1398  13213  Marseille 13e  Arrondissement   92261.0

In [63]:
df = df_populations_communales.copy()

df['libgeo'] = df['libgeo'].replace(
    to_replace = [r'Paris.*', r'Lyon.*', r'Marseille.*'], 
    value = ['Paris', 'Lyon', 'Marseille'], 
    regex=True
)

treated_df = df.groupby('libgeo', as_index=False).agg({
    'objectid': 'first',   # garde le premier ID (ou autre logique)
    'reg': 'first',        # garde la premi√®re r√©gion
    'dep': 'first',        # idem pour d√©partement
    'cv': 'first', 
    'codgeo': 'first',
    'p21_pop': 'sum'
})

treated_df

                     libgeo  objectid  reg dep    cv codgeo  p21_pop
0                      Aast    127813   72  64  6427  64001    189.0
1                Abainville    131071   41  55  5510  55001    285.0
2                 Abancourt    138836   31  59  5909  59001   1053.0
3                 Abaucourt    114975   41  54  5402  54001    317.0
4      Abaucourt-Hautecourt    127193   41  55  5504  55002     99.0
...                     ...       ...  ...  ..   ...    ...      ...
32611             √éle-d'Arz    111490   53  56  5620  56088    287.0
32612           √éle-d'Houat    135543   53  56  5617  56086    216.0
32613           √éle-de-Batz    133684   53  29  2926  29082    449.0
32614         √éle-de-Br√©hat    130805   53  22  2211  22016    402.0
32615           √éle-de-Sein    138796   53  29  2910  29083    273.0

[32616 rows x 7 columns]

In [73]:
df_pop_100k = treated_df[treated_df['p21_pop'] > 100000]

df_pop_100k.sort_values(by='p21_pop', ascending=False)

                     libgeo  objectid  reg dep    cv codgeo    p21_pop
21047                 Paris    129227   11  75    75  75111  2134947.0
17471             Marseille    126624   93  13  1398  13206   875868.0
16724                  Lyon    126623   82  69  6900  69384   522954.0
29477              Toulouse    114579   73  31  3199  31555   504078.0
20020                  Nice    139962   93  06  0699  06088   348085.0
19752                Nantes    128203   52  44  4496  44109   323204.0
18970           Montpellier    140072   91  34  3499  34172   302454.0
28683            Strasbourg    125844   42  67  6799  67482   291313.0
24535           Saint-Denis    119193   91  30  3018  30247   269498.0
3460               Bordeaux    127920   72  33  3397  33063   261804.0
16044                 Lille    120640   31  59  5997  59350   236710.0
22972                Rennes    138083   53  35  3598  35238   225081.0
29472                Toulon    123209   93  83  8399  83137   180452.0
22919                 Reims    115939   21  51  5199  51454   179380.0
27046         Saint-√âtienne    141791   82  42  4299  42218   172718.0
14988              Le Havre    138397   23  76  7696  76351   166058.0
8444                  Dijon    111232   26  21  2199  21231   159346.0
11205              Grenoble    118521   82  38  3898  38185   157477.0
591                  Angers    128018   52  49  4998  49007   157175.0
31484          Villeurbanne    131904   82  69  6900  69266   156928.0
20388                 N√Æmes    113332   91  30  3099  30189   148104.0
224         Aix-en-Provence    122254   93  13  1397  13001   147478.0
6813       Clermont-Ferrand    141310   83  63  6399  63113   147327.0
15038               Le Mans    116317   52  72  7299  72181   145004.0
4040                  Brest    121616   53  29  2998  29019   139619.0
29532                 Tours    133328   24  37  3799  37261   137658.0
486                  Amiens    137067   22  80  8099  80021   133625.0
655                  Annecy    136465   82  74  7499  74010   131715.0
16065               Limoges    131358   74  87  8799  87085   129760.0
17990                  Metz    128781   41  57  5798  57463   120874.0
3640   Boulogne-Billancourt    119043   11  92  9296  92012   119808.0
21214             Perpignan    115904   91  66  6699  66136   119656.0
2785               Besan√ßon    113023   43  25  2599  25056   119198.0
20664               Orl√©ans    113767   24  45  4599  45234   116617.0
18998             Montreuil    140438   31  62  6210  62588   114692.0
23512                 Rouen    129899   23  76  7697  76540   114083.0
26260            Saint-Paul    142842   25  61  6113  61443   111213.0
4738                   Caen    113530   25  14  1499  14118   108200.0
900              Argenteuil    135203   11  95  9598  95018   107221.0
19453              Mulhouse    127858   42  68  6899  68224   106341.0
19736                 Nancy    124595   41  54  5499  54395   104260.0

In [10]:
df_enseignement_sup = pd.read_csv("fr-esr-atlas_regional-effectifs-d-etudiants-inscrits-detail_etablissements.csv", delimiter=';')

df_enseignement_sup.head()

,Rentr√©e universitaire,cat√©gorie d'√©tablissement,secteur d'√©tablissement,code UAI de l'√©tablissement,sigle de l'√©tablissement,libell√© de l'√©tablissement,libell√© compl√©mentaire de l'√©tablissement,Code UAI de la composante,sigle de la composante,libell√© de la composante,...,id unit√© urbaine,unit√© urbaine,code commune,Commune,gps,degetu,degre_etudes,nombre total d‚Äô√©tudiants inscrits hors doubles inscriptions universit√©/CPGE,dont femmes,dont hommes
0,2023,"√âcoles de commerce, gestion et vente",Priv√©,0562044T,EC TECH SUP PR,GROUPE AFTEC,IPAC BACHELOR FACTORY VANNES,0562044T,EC TECH SUP PR,GROUPE AFTEC,...,UU56501,Vannes,56158,Plescop,"47.67764394859038, -2.80211043128016",3.0,BAC + 3,112,96,16
1,2023,"√âcoles de commerce, gestion et vente",Priv√©,0590346F,SKEMA LILLE,SKEMA BUSINESS SCHOOL LILLE,NaN,0060656F,E.COM,ECOLE DE COMMERCE,...,UU06701,Nice,06152,Valbonne,"43.61328883276337, 7.056290282560445",6.0,BAC + 6 et plus,19,9,10
2,2023,"√âcoles de commerce, gestion et vente",Priv√©,0590346F,SKEMA LILLE,SKEMA BUSINESS SCHOOL LILLE,NaN,216P0001,SKEMA CHINE,SKEMA BUSINESS SCHOOL,...,CHI99216,Suzhou,99216,Suzhou,NaN,4.0,BAC + 4,389,67,322
3,2023,"√âcoles de commerce, gestion et vente",Priv√©,0590350K,EDHEC LILLE,EDHEC BUSINESS SCHOOL,MEMBRE FUPL,0755719J,EDHEC,CENTRE DE FORMATION CONTINUE,...,UU00851,Paris,75102,Paris 2e,NaN,5.0,BAC + 5,387,162,225
4,2023,"√âcoles de commerce, gestion et vente",Priv√©,0593202K,IESEG LILLE,INST ECO SCIENT GESTION LILLE,MEMBRE FUPL,0593202K,IESEG LILLE,INST ECO SCIENT GESTION LILLE,...,UU59702,Lille,59350,Lille,"50.63553116922688, 3.044909976114497",2.0,BAC + 2,739,285,454

In [14]:
# 1Ô∏è‚É£ Exclure les lignes avec "√âtranger"
df_enseignement_sup = df_enseignement_sup[~df_enseignement_sup['d√©partement'].str.contains("√âtranger")]

# 2Ô∏è‚É£ Garder uniquement les 2 premiers chiffres
df_enseignement_sup['departement_code'] = df_enseignement_sup['d√©partement'].str[:2]

# 3Ô∏è‚É£ Optionnel : supprimer les espaces et convertir en int
df_enseignement_sup['departement_code'] = df_enseignement_sup['departement_code'].str.strip()

df_enseignement_sup.head()

,Rentr√©e universitaire,cat√©gorie d'√©tablissement,secteur d'√©tablissement,code UAI de l'√©tablissement,sigle de l'√©tablissement,libell√© de l'√©tablissement,libell√© compl√©mentaire de l'√©tablissement,Code UAI de la composante,sigle de la composante,libell√© de la composante,...,unit√© urbaine,code commune,Commune,gps,degetu,degre_etudes,nombre total d‚Äô√©tudiants inscrits hors doubles inscriptions universit√©/CPGE,dont femmes,dont hommes,departement_code
0,2023,"√âcoles de commerce, gestion et vente",Priv√©,0562044T,EC TECH SUP PR,GROUPE AFTEC,IPAC BACHELOR FACTORY VANNES,0562044T,EC TECH SUP PR,GROUPE AFTEC,...,Vannes,56158,Plescop,"47.67764394859038, -2.80211043128016",3.0,BAC + 3,112,96,16,56
1,2023,"√âcoles de commerce, gestion et vente",Priv√©,0590346F,SKEMA LILLE,SKEMA BUSINESS SCHOOL LILLE,NaN,0060656F,E.COM,ECOLE DE COMMERCE,...,Nice,06152,Valbonne,"43.61328883276337, 7.056290282560445",6.0,BAC + 6 et plus,19,9,10,06
3,2023,"√âcoles de commerce, gestion et vente",Priv√©,0590350K,EDHEC LILLE,EDHEC BUSINESS SCHOOL,MEMBRE FUPL,0755719J,EDHEC,CENTRE DE FORMATION CONTINUE,...,Paris,75102,Paris 2e,NaN,5.0,BAC + 5,387,162,225,75
4,2023,"√âcoles de commerce, gestion et vente",Priv√©,0593202K,IESEG LILLE,INST ECO SCIENT GESTION LILLE,MEMBRE FUPL,0593202K,IESEG LILLE,INST ECO SCIENT GESTION LILLE,...,Lille,59350,Lille,"50.63553116922688, 3.044909976114497",2.0,BAC + 2,739,285,454,59
5,2023,"√âcoles de commerce, gestion et vente",Priv√©,0593202K,IESEG LILLE,INST ECO SCIENT GESTION LILLE,MEMBRE FUPL,0922663V,IESEG BOULOGNE,INST ECO SC GEST BOULOGNE-BILL,...,Paris,92050,Nanterre,"48.89739112970496, 2.224693366221823",4.0,BAC + 4,1022,535,487,92

√âvaluer le taux de vacance locative en France, et les zones propices √† un taux √©lev√©

In [ ]:
print("Partie Lucien")