## üéì Persona : L√©a, jeune investisseuse √©tudiante

**Profil :**
- üë© 24 ans, dipl√¥m√©e de l'EM Lyon
- üíº Premi√®re exp√©rience professionnelle apr√®s 2 ans d'alternance
- üí∞ Aide parentale pour le financement + √©pargne personnelle (~15 000 ‚Ç¨)
- üéØ Objectif : r√©aliser un **premier investissement locatif** dans une **ville √©tudiante dynamique**

---

### üí° Objectif d'investissement
> Trouver le **meilleur investissement locatif √©tudiant** possible avec un **budget global de 200 000 ‚Ç¨**,  
> en ciblant un **studio √† Lille**, tout en comparant bri√®vement avec un **T1 √† Angers ou Nancy**.

---

### üí∞ Hypoth√®ses financi√®res
| √âl√©ment | Montant estim√© |
|----------|----------------|
| Prix d'achat vis√© | 160 000 ‚Äì 180 000 ‚Ç¨ |
| Apport personnel | 15 000 ‚Ç¨ |
| Pr√™t immobilier estim√© | 180 000 ‚Ç¨ sur 20 ans |
| Budget total (frais inclus) | **‚âà 200 000 ‚Ç¨** |
| Objectif de rentabilit√© brute | **‚â• 5 %** |

---

### üèôÔ∏è Cibles principales
| Ville | Type de bien | Prix moyen au m¬≤ | Loyer moyen mensuel | Observations |
|-------|---------------|------------------|---------------------|---------------|
| **Lille** | Studio (20‚Äì25 m¬≤) | ~4 500 ‚Ç¨/m¬≤ | 550‚Äì600 ‚Ç¨ | March√© √©tudiant tendu, forte demande locative |
| **Angers** | T1 (25‚Äì30 m¬≤) | ~3 200 ‚Ç¨/m¬≤ | 450‚Äì500 ‚Ç¨ | Ville tr√®s dynamique, bonne rentabilit√© brute |
| **Nancy** | T1 (25‚Äì30 m¬≤) | ~2 800 ‚Ç¨/m¬≤ | 420‚Äì470 ‚Ç¨ | March√© abordable, bon rapport prix/rentabilit√© |

---

### üîç Besoins data de L√©a
- Identifier **les quartiers les plus rentables** √† Lille (ou dans des villes comparables)
- Comparer avec **la rentabilit√© moyenne en France**
- Analyser l'**√©volution du prix au m¬≤ et des loyers √©tudiants** depuis 5 ans
- Calculer la **rentabilit√© locative brute et nette** par quartier
- Visualiser les **zones √† forte concentration √©tudiante**
- Fournir une **recommandation finale : "o√π investir avec 200k‚Ç¨ ?"**
- √âvaluer le **taux de vacance locative** par quartier pour anticiper les p√©riodes creuses (notamment l'√©t√© o√π les √©tudiants quittent les logements)
- Analyser la **proximit√© des transports en commun** et des universit√©s/grandes √©coles pour identifier les zones les plus attractives pour les √©tudiants
- Estimer les **charges de copropri√©t√© moyennes** par type de bien et par quartier pour affiner le calcul de rentabilit√© nette
- Identifier les **opportunit√©s de biens n√©cessitant des travaux** (d√©cote √† l'achat) pour maximiser la plus-value √† long terme

---

### üß≠ Objectif du notebook
Cr√©er un outil interactif permettant √† L√©a de :
1. Comparer la rentabilit√© d'un **studio √† Lille** avec celle d'un **T1 √† Angers ou Nancy**  
2. Explorer visuellement les **zones √† potentiel locatif √©lev√©**  
3. Obtenir une **recommandation automatique** en fonction de son budget et de ses pr√©f√©rences

## Import des biblioth√®ques ##

In [2]:
import pandas as pd

### 1e vision : Analyse g√©n√©rale en France ###

Etude de la rentabilit√© moyenne en France

In [ ]:
print("Partie Valentine")

Evolution du prix au m¬≤ et des loyers √©tudiants depuis 5 ans en France

In [ ]:
print("Partie Axel")

Visualiser les zones √† forte concentration √©tudiante en France

In [4]:
df_demographie_fr = pd.read_csv("demo-pop-sexe-age-effectif.csv")

df_demographie_fr

      Groupe d'√¢ges  Femmes  Hommes Ensemble
0   Moins de 15 ans   5,586   5,861   11,447
1         15-19 ans   2,073   2,214    4,287
2         20-24 ans   1,939   2,023    3,962
3         25-29 ans   1,945   1,943    3,888
4         30-34 ans   2,060   1,999    4,059
5         35-39 ans   2,205   2,104    4,309
6         40-44 ans   2,241   2,130    4,371
7         45-49 ans   2,096   2,042    4,138
8         50-54 ans   2,283   2,233    4,516
9         55-59 ans   2,251   2,157    4,408
10        60-64 ans   2,222   2,073    4,295
11        65-69 ans   2,093   1,855    3,948
12        70-74 ans   1,991   1,679    3,669
13   75 ans ou plus   4,342   2,965    7,307
14         Ensemble  35,326  33,279   68,606

Dans un premier temps nous nous interesserons uniquement au groupe des 20-24 ans (forte chance d'√™tre √©tudiant √† cette √¢ge). Mais nous n'oublierons pas que le bien locatif pourrait aussi √™tre utilis√© pour des 15-19 ans (m√™me si peu probable) et des 25-29 ans.

In [ ]:
df_enseignement_sup = pd.read_csv("fr-esr-atlas_regional-effectifs-d-etudiants-inscrits-detail_etablissements.csv", delimiter=';')

df_enseignement_sup.head()

,Rentr√©e universitaire,cat√©gorie d'√©tablissement,secteur d'√©tablissement,code UAI de l'√©tablissement,sigle de l'√©tablissement,libell√© de l'√©tablissement,libell√© compl√©mentaire de l'√©tablissement,Code UAI de la composante,sigle de la composante,libell√© de la composante,...,id unit√© urbaine,unit√© urbaine,code commune,Commune,gps,degetu,degre_etudes,nombre total d‚Äô√©tudiants inscrits hors doubles inscriptions universit√©/CPGE,dont femmes,dont hommes
0,2023,"√âcoles de commerce, gestion et vente",Priv√©,0562044T,EC TECH SUP PR,GROUPE AFTEC,IPAC BACHELOR FACTORY VANNES,0562044T,EC TECH SUP PR,GROUPE AFTEC,...,UU56501,Vannes,56158,Plescop,"47.67764394859038, -2.80211043128016",3.0,BAC + 3,112,96,16
1,2023,"√âcoles de commerce, gestion et vente",Priv√©,0590346F,SKEMA LILLE,SKEMA BUSINESS SCHOOL LILLE,NaN,0060656F,E.COM,ECOLE DE COMMERCE,...,UU06701,Nice,06152,Valbonne,"43.61328883276337, 7.056290282560445",6.0,BAC + 6 et plus,19,9,10
2,2023,"√âcoles de commerce, gestion et vente",Priv√©,0590346F,SKEMA LILLE,SKEMA BUSINESS SCHOOL LILLE,NaN,216P0001,SKEMA CHINE,SKEMA BUSINESS SCHOOL,...,CHI99216,Suzhou,99216,Suzhou,NaN,4.0,BAC + 4,389,67,322
3,2023,"√âcoles de commerce, gestion et vente",Priv√©,0590350K,EDHEC LILLE,EDHEC BUSINESS SCHOOL,MEMBRE FUPL,0755719J,EDHEC,CENTRE DE FORMATION CONTINUE,...,UU00851,Paris,75102,Paris 2e,NaN,5.0,BAC + 5,387,162,225
4,2023,"√âcoles de commerce, gestion et vente",Priv√©,0593202K,IESEG LILLE,INST ECO SCIENT GESTION LILLE,MEMBRE FUPL,0593202K,IESEG LILLE,INST ECO SCIENT GESTION LILLE,...,UU59702,Lille,59350,Lille,"50.63553116922688, 3.044909976114497",2.0,BAC + 2,739,285,454

√âvaluer le taux de vacance locative en France, et les zones propices √† un taux √©lev√©

In [ ]:
print("Partie Lucien")