## üéì Persona : L√©a, jeune investisseuse √©tudiante

**Profil :**
- üë© 24 ans, dipl√¥m√©e de l‚ÄôEM Lyon
- üíº Premi√®re exp√©rience professionnelle apr√®s 2 ans d‚Äôalternance
- üí∞ Aide parentale pour le financement + √©pargne personnelle (~15 000 ‚Ç¨)
- üéØ Objectif : r√©aliser un **premier investissement locatif** dans une **ville √©tudiante dynamique**

---

### üí° Objectif d‚Äôinvestissement
> Trouver le **meilleur investissement locatif √©tudiant** possible avec un **budget global de 200 000 ‚Ç¨**,  
> en ciblant un **studio √† Lille**, tout en comparant bri√®vement avec un **T1 √† Angers ou Nancy**.

---

### üí∞ Hypoth√®ses financi√®res
| √âl√©ment | Montant estim√© |
|----------|----------------|
| Prix d‚Äôachat vis√© | 160 000 ‚Äì 180 000 ‚Ç¨ |
| Apport personnel | 15 000 ‚Ç¨ |
| Pr√™t immobilier estim√© | 180 000 ‚Ç¨ sur 20 ans |
| Budget total (frais inclus) | **‚âà 200 000 ‚Ç¨** |
| Objectif de rentabilit√© brute | **‚â• 5 %** |

---

### üèôÔ∏è Cibles principales
| Ville | Type de bien | Prix moyen au m¬≤ | Loyer moyen mensuel | Observations |
|-------|---------------|------------------|---------------------|---------------|
| **Lille** | Studio (20‚Äì25 m¬≤) | ~4 500 ‚Ç¨/m¬≤ | 550‚Äì600 ‚Ç¨ | March√© √©tudiant tendu, forte demande locative |
| **Angers** | T1 (25‚Äì30 m¬≤) | ~3 200 ‚Ç¨/m¬≤ | 450‚Äì500 ‚Ç¨ | Ville tr√®s dynamique, bonne rentabilit√© brute |
| **Nancy** | T1 (25‚Äì30 m¬≤) | ~2 800 ‚Ç¨/m¬≤ | 420‚Äì470 ‚Ç¨ | March√© abordable, bon rapport prix/rentabilit√© |

---

### üîç Besoins data de L√©a
- Identifier **les quartiers les plus rentables** √† Lille (ou dans des villes comparables)
- Analyser l‚Äô**√©volution du prix au m¬≤ et des loyers √©tudiants** depuis 5 ans
- Calculer la **rentabilit√© locative brute et nette** par quartier
- Visualiser les **zones √† forte concentration √©tudiante**
- Fournir une **recommandation finale : ‚Äúo√π investir avec 200k‚Ç¨ ?‚Äù**

---

### üß≠ Objectif du notebook
Cr√©er un outil interactif permettant √† L√©a de :
1. Comparer la rentabilit√© d‚Äôun **studio √† Lille** avec celle d‚Äôun **T1 √† Angers ou Nancy**  
2. Explorer visuellement les **zones √† potentiel locatif √©lev√©**  
3. Obtenir une **recommandation automatique** en fonction de son budget et de ses pr√©f√©rences

In [ ]:
salut

In [ ]:
import pandas as pd 

df = pd.read_csv("59.csv")

df.head()

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2024-674954,2024-01-03,1,Vente,420000.0,1.0,NaN,RUE AIME CESAIRE,0008,59710.0,...,Maison,122.0,4.0,S,sols,NaN,NaN,470.0,3.107310,50.524100
1,2024-674955,2024-01-04,1,Vente,476700.0,17.0,NaN,RUE MOLIERE,0655,59390.0,...,Maison,203.0,7.0,S,sols,NaN,NaN,798.0,3.213318,50.674598
2,2024-674956,2024-01-03,1,Vente,153000.0,11.0,NaN,RUE DE LA PAIX,0340,59187.0,...,Maison,115.0,6.0,S,sols,NaN,NaN,325.0,3.126817,50.345947
3,2024-674957,2024-01-02,1,Vente,135000.0,35.0,NaN,RUE JULES FERRY,0190,59115.0,...,Maison,53.0,3.0,S,sols,NaN,NaN,228.0,3.240180,50.687851
4,2024-674958,2024-01-05,1,Vente,232000.0,22.0,NaN,IMP DELESALLE RUE R SALENGRO,2317,59260.0,...,Maison,95.0,5.0,S,sols,NaN,NaN,101.0,3.103485,50.629583